<h2 id="title">Kullanıcı Ekle</h2>
{{#bs-form action="submit"}}
  {{#bs-form-group validation=firstNameValidation}}
      <label class="control-label">Kullanıcı Adı Girin:</label>
      {{bs-input type="text" value=firstName}}
      {{#bs-button type="primary" action='addUser'}}EKLE{{/bs-button}}
  {{/bs-form-group}}
{{/bs-form}}