<nav class="navbar navbar-default navbar-static-top">
    {{#link-to 'index' class="navbar-brand"}}test{{/link-to}}
    <div class="container">
        <ul class="nav navbar-nav">
            <li>{{#link-to 'index'}}ana sayfa{{/link-to}}</li>
            <li>{{#link-to 'user'}}kullanıcılar{{/link-to}}</li>
        </ul>
    </div>
</nav>
<div class="container">
  {{outlet}}
</div>
